/* ======== GRID DE PRODUTOS ======== */
.produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.produto {
    background: var(--cor-branco);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.produto:hover {
    border: 1px solid var(--cor-laranja);
}

.produto-cidades {
    background: var(--cor-branco);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.produto img {
    width: 100%;
    border-radius: 6px;
}

.produto-titulo {
    font-size: 25px;
    font-family: var(--font-roboto);
    color: var(--cor-laranja);
}

.produto-descricao {
    font-family: var(--font-montserrat);
    color: var(--cor-azulescuro);
}

.produto-descricao-destaque {
    font-family: var(--font-montserrat);
    color: var(--cor-azulescuro);
    font-weight: bold;
}

@media (max-width: 768px) {
    .produtos {
        display: flex;
        flex-direction: column;
    }
}
